# Максимальный возраст кэша сборки (например, 24h, 7d, 48h)
AGE=24h

# Периодичность запуска очистки кэша (например, 1h, 30m, 12h)
SLEEP=1h

# Защитная метка для проектов/билдеров, кэш которых нельзя удалять
STICKY_LABEL=persistent_build=true
